In [1]:
import pandas as pd

In [2]:
base = pd.read_csv('credit-data.csv')
base.head()

   clientid        income        age         loan  default
0         1  66155.925095  59.017015  8106.532131        0
1         2  34415.153966  48.117153  6564.745018        0
2         3  57317.170063  63.108049  8020.953296        0
3         4  42709.534201  45.751972  6103.642260        0
4         5  66952.688845  18.584336  8770.099235        1

In [3]:
base.describe()

          clientid        income          age          loan      default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [4]:
base.loc[base.age < 0]

    clientid        income        age         loan  default
15        16  50501.726689 -28.218361  3977.287432        0
21        22  32197.620701 -52.423280  4244.057136        0
26        27  63287.038908 -36.496976  9595.286289        0

In [5]:
##conforme podemos obversar, há na tabela valores inconsistentes.
#Existe várias maneiras de tratar esses valores : Apagando a coluna, preenchendo os valores manualmente, preenchendo os valores com a média, etc.

In [9]:
#Apagar a coluna

base.drop('age', 1, inplace=True)

In [ ]:
##apagar somente os registros com problemas
base.drop(base[base.age < 0].index, inplace=True)

In [6]:
#Preenchendo os valores com a média
base['age'][base.age > 0].mean()
base.loc[base.age < 0] = base[base.age > 0].age.mean()

In [7]:
base[base.age > 0].age.mean()

40.92770044906149

In [8]:
base.loc[base.age < 0]

Empty DataFrame
Columns: [clientid, income, age, loan, default]
Index: []

## Tratamento de valores Faltantes

In [9]:
base.loc[pd.isnull(base['age'])]

    clientid        income  age         loan  default
28      29.0  59417.805406  NaN  2082.625938      0.0
30      31.0  48528.852796  NaN  6155.784670      0.0
31      32.0  23526.302555  NaN  2862.010139      0.0

In [10]:
previsores = base.iloc[:, 1:4].values
classe = base.iloc[:,4].values

In [12]:
from sklearn.preprocessing import Imputer

imputer = Imputer(missing_values='NaN', strategy='mean', axis=0)
imputer = imputer.fit(previsores[:, 0:3])
previsores[:, 0:3] = imputer.transform(previsores[:, 0:3])
previsores

array([[6.61559251e+04, 5.90170151e+01, 8.10653213e+03],
       [3.44151540e+04, 4.81171531e+01, 6.56474502e+03],
       [5.73171701e+04, 6.31080495e+01, 8.02095330e+03],
       ...,
       [4.43114493e+04, 2.80171669e+01, 5.52278669e+03],
       [4.37560566e+04, 6.39717958e+01, 1.62272260e+03],
       [6.94365796e+04, 5.61526170e+01, 7.37883360e+03]])

## Escalonamento de Atributos

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)
previsores

array([[ 1.44913211,  1.36538005,  1.20471111],
       [-0.75194964,  0.54265932,  0.69874452],
       [ 0.83620364,  1.67417101,  1.17662679],
       ...,
       [-0.06568543, -0.97448606,  0.35680621],
       [-0.10419945,  1.73936652, -0.92307354],
       [ 1.67663095,  1.14917551,  0.96590308]])

# Divisão de Base de Dados para treinamento

In [15]:
from sklearn.cross_validation import train_test_split

In [23]:
x_train, x_test, y_train, y_test = train_test_split(previsores, classe, test_size = 0.25, random_state=0)

In [24]:
x_test.shape

(500, 3)

In [25]:
x_train.shape

(1500, 3)